@model CineBR.Models.HomeViewModel

<main>
    <section class="movies-list">
        <h1>Catálogo de Filmes</h1>
        <div id="movies-grid" class="movies-grid">
            <!-- Os cards dos filmes serão gerados aqui -->
        </div>
    </section>
</main>

<script src="js/catalogo.js"></script>

