@model CineBR.Models.HomeViewModel

<main>
    <section class="movies-list">
        <h1>Filmes Nacionais</h1>
        <div id="movies-grid" class="movies-grid">
            @foreach (var filme in Model.Filmes)
            {
                <div class="movie-card">
                    <a href="/filme/detalhes/@filme.Id">
                        <img src="@filme.Capa" alt="@filme.Titulo">
                        <h3>@filme.Titulo</h3>
                    </a>
                </div>
            }
        </div>
    </section>
</main>