@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* === Reset e Variáveis Globais === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #009714;
    --hover-color: hsl(115, 100%, 26%);
    --body-color: #1a1a1a;
    --container-color: #0f0f11;
    --text-color: #fcfeff;
}

/* === Corpo === */
body {
    background: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* === Elementos Globais === */
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
    border-radius: 5px;
}

/* === Botões === */
button {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    button:hover {
        background-color: var(--hover-color);
    }

    button:focus {
        outline: none;
    }

/* === Rodapé === */
footer {
    text-align: center;
    padding: 10px;
    background: var(--container-color);
    border-top: 1px solid hsl(100 100% 99% / 5%);
    margin-top: auto;
}
