<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBR</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Box Icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="nav container">
            <!-- Logo -->
            <a href="/" class="logo">Cine<span>Br</span></a>

            <!-- Barra de Pesquisa -->
            <div class="search-box">
                <input type="search" id="search-input" placeholder="Pesquisar Filme">
                <i class='bx bx-search'></i>
            </div>

            <!-- Autenticação -->
            <div class="auth-buttons">
                @if (User.Identity.IsAuthenticated)
                {
                    <p style="margin-right: 10px;">Bem-vindo, @User.Identity.Name!</p>
                    <a href="/Usuario/Logout" class="btn-logout" title="Sair"><i class='bx bx-log-out'></i></a>
                }
                else
                {
                    <a href="/Usuario/CadastroLogin" class="btn-auth" title="Entrar ou Cadastrar"><i class='bx bx-user-plus'></i></a>
                }
            </div>
        </div>

        <!-- NAVBAR (fora do .nav.container!) -->
        <nav class="user-navbar">
            <a href="/" class="nav-link nav-active"><i class='bx bx-home'></i><span>Início</span></a>
            <a href="/Home/EmAlta" class="nav-link"><i class='bx bxs-hot'></i><span>Em Alta</span></a>
            <a href="/Home/Filmes" class="nav-link"><i class='bx bx-tv'></i><span>Filmes</span></a>
            <a href="/Home/Favoritos" class="nav-link"><i class='bx bx-heart'></i><span>Favoritos</span></a>
        </nav>
    </header>


    <!-- Conteúdo Principal -->
    <main style="padding-top: 140px;" class="container">
        @RenderBody()
    </main>

    <!-- Rodapé -->
    <footer class="footer">
        <p>&copy; 2025 CineBR</p>
    </footer>

    <!-- Scripts -->
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
